@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
 body {
    background-color: rgb(248, 194, 236);
      font-family: "playwrite", Arial, Helvetica, sans-serif ;
      text-align: center;
      padding-top: 60px;
      font-weight: 400;
      font-style: normal;
   
   
 }
 .container {
  max-width: 960px;
  margin: 20px;
  padding: 20px;
 background-color: azure;
 }
 #insta {
  width: 75px;
  padding: 20px;
  
 }
 #face {
  width: 75px;
  padding: 20px;
  
 }
 
 #linke {
  width: 75px;
  padding: 20px;
  
 }